@import "tailwindcss";

/* Tentukan path source agar Tailwind bisa scan kelas */
@source 'resources/**/*.blade.php';
@source 'resources/**/*.js';

/* Tema / variabel CSS */
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
    --color-primary: 3b82f6; /* contoh warna utama */
    --color-secondary: #10b981;
}

/* Sekarang bisa gunakan variabel di utility kelas */
.btn-primary {
    @apply bg-[var(--color-primary)] text-white;
}
